<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
        </br>
      <%= f.label :salary, "Salary per annum £" %>
      <%= f.number_field :salary, class: 'form-control' %>
        </br>
      <%= f.label :start_time, "Start time for work" %>
      <%= f.select :start_time, [ 
        ["6am", '06.00'], ["6:30am", '06.50'], ["7am", '07.00'], ["7:30am", '07.30'], ["8am", '08.50'], ["8:30am", '08.50'], ["9am", '09.00'], ["9:30am", '09.50'], ["10am", '10.00'], ["10:30am", '10.50'], ["11am", '11.00'], ["11:30am", '11.50'], ["12pm", '12.00'], ["12:30pm", '12.50'], ["1pm", '13.00'], ["1:30pm", '13.50'], ["2pm", '14.00'], ["2:30pm", '14.50'], ["3pm", '15.00'], ["3:30pm", '15.50'], ["4pm", '16.00'], ["4:30pm", '16.50'], ["5pm", '17.00'], ["5:30pm", '17.50'], ["6pm", '18.00'], ["6:30pm", '18.50'], ["7pm", '19.00'], ["7:30pm", '19.50'], ["8pm", '20.00'], ["8:30pm", '20.50'], ["9pm", '21.00'], ["9:30pm", '21.50'], ["10pm", '22.00'], ["10:30pm", '22.50'], ["11pm", '23.00'], ["11:30pm", '23.50'], ["12am", '24.00'], ["12:30am", '00.50'], ["1am", '01.00'], ["1:30am", '01.50'], ["2am", '02.00'], ["2:30am", '02.50'], ["3am", '03.00'], ["3:30am", '03.50'], ["4am", '04.00' ], ["4am", '04.50'], ["5am", '05.00'], ["5:30am", '05.50']] %>
        </br>
      <%= f.label :end_time, "End time for work" %>
      <%= f.select :end_time, [ 
        ["6am", '06.00'], ["6:30am", '06.50'], ["7am", '07.00'], ["7:30am", '07.30'], ["8am", '08.50'], ["8:30am", '08.50'], ["9am", '09.00'], ["9:30am", '09.50'], ["10am", '10.00'], ["10:30am", '10.50'], ["11am", '11.00'], ["11:30am", '11.50'], ["12pm", '12.00'], ["12:30pm", '12.50'], ["1pm", '13.00'], ["1:30pm", '13.50'], ["2pm", '14.00'], ["2:30pm", '14.50'], ["3pm", '15.00'], ["3:30pm", '15.50'], ["4pm", '16.00'], ["4:30pm", '16.50'], ["5pm", '17.00'], ["5:30pm", '17.50'], ["6pm", '18.00'], ["6:30pm", '18.50'], ["7pm", '19.00'], ["7:30pm", '19.50'], ["8pm", '20.00'], ["8:30pm", '20.50'], ["9pm", '21.00'], ["9:30pm", '21.50'], ["10pm", '22.00'], ["10:30pm", '22.50'], ["11pm", '23.00'], ["11:30pm", '23.50'], ["12am", '24.00'], ["12:30am", '00.50'], ["1am", '01.00'], ["1:30am", '01.50'], ["2am", '02.00'], ["2:30am", '02.50'], ["3am", '03.00'], ["3:30am", '03.50'], ["4am", '04.00' ], ["4am", '04.50'], ["5am", '05.00'], ["5:30am", '05.50']] %>
         </br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
        </br>
      <%= f.label :password_confirmation, "Password confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
        </br>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>