<%= form_for(@salaryhour) do |f| %>
    <div class="hours-field">
      <%= f.text_field :hours, placeholder: "Add additional hours" %>
    </div>
    <%= f.hidden_field :money, :value => hourly_salary %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>